:root {
    --cor-primaria: #ff0000; /* Exemplo de uma variável CSS personalizada */
    --cor-secundaria: green;  /* Outro exemplo */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}
main h1{
    position: absolute;
    text-align: center;
    top: 20%;
    left: 30%;
    transform: translate();
}

div#medias{
    position: relative;
}
form{
    background-image: linear-gradient(to right, rgb(84, 84, 125), rgb(49, 49, 29));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 33vh;
    border-radius: 5px 5px;
    padding: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.727);

}

form, label{
    color: white;
    padding: 5px;
    margin: 3px;
}
form, input{
    padding: 5px;
    margin: 3px;
    margin-bottom: 15px;
}

form input[type="submit"]{
    width: 180px;
    margin-top: 30px;
    margin-left: 150px ;
}
form input[type="submit"]:hover{
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 5px;

}
   


section#resultados {
    background-image: linear-gradient(to left, rgb(65, 65, 130), rgb(83, 83, 39));
    background-color: rgb(221, 211, 211);
    position: absolute;
    top: 75%;
    left: 49.6%;
    transform: translate(-50%, -10%);
    width: 340px;
    height: 45px;
    border-radius: 5px 5px;
    margin: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.727);

}

section#resultados > p {
    display: flex;
    text-align: center;
    padding: auto;
    margin: auto;
    border-radius: 5px 5px;

}

